*
{
  padding: 0;
  border: 0;
  margin: 0;
}

body
{
  font-family: 'Anton';
  background-color:#E8DDC9;
}

a
{
  text-decoration: none;
}

.grid-container
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 150px 330px 330px;
  grid-template-areas:
  "header header header"
  "card_1 card_2 card_3"
  "card_4 card_5 card_6";
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 0px 20px;
}

.header
{
  grid-area: header;
  background-color: #3A3C43;
  font-size: 50px;
  font-family: "Roboto";
  font-weight: 600;
  color: #F2EFE8;
  text-align: center;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card
{
  border: 5px solid #3A3C43;
  font-family: "Roboto";
  font-weight: 600;
  color: #3A3C43;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #F2EFE8;
}

.card_1
{
  grid-area: card_1;
}

.card_2
{
  grid-area: card_2;
}

.card_3
{
  grid-area: card_3;
}

.card_4
{
  grid-area: card_4;
}

.card_5
{
  grid-area: card_5;
}

.card_6
{
  grid-area: card_6;
}

.submission
{
  background-color: #586FAE;
  width: 100vw;
  height: 200vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.grid-submission
{
  display: grid;
  /* width: 900px; */
  grid-template-columns: 900px;
  grid-template-rows: 150px 330px 330px;
  grid-template-areas:
  "submission-title"
  "expression"
  "description"
  "origin"
  "submit";
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  background-color: #E8DDC9;
  border: 4px solid #3A3C43;
  color: #3A3C43;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 45px;
  margin: 45px 0px;
  text-align: center;
}

.submission-title
{
  grid-area: submission-title;
  border-bottom: 4px solid #3A3C43;
  padding: 20px 0px;
}
.expression
{
  grid-area: expression;
  padding: 20px 30px;
  text-align: left;
}

.origin
{
  grid-area: origin;
  padding: 10px 30px;
  text-align: left;
}

.description
{
  grid-area: description;
  padding: 10px 30px;
  text-align: left;
}

.submit
{
  grid-area: description;
  padding: 20px 30px;
  text-align: center;
}

input[type=text]
{
  width: 100%;
  height: 60px;
  border: 2px solid #3A3C43;
  background-color: #F2EFE8;
  font-size: 20px;
  font-style: "Roboto";
  padding-left: 8px;
}

textarea
{
  width: 100%;
  border: 2px solid #3A3C43;
  background-color: #F2EFE8;
  font-size: 20px;
  font-style: "Roboto";
  padding-left: 8px;
  padding-top: 8px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input[type=submit]
{
  background-color: #3A3C43;
  color: #F2EFE8;
  cursor: pointer;
  font-size: 20px;
  font-style: "Roboto";
  padding: 20px;
  text-align: center;
  width: 101%;
  font-weight: 600;
}

input[type=password]
{
  width: 100%;
  height: 60px;
  border: 2px solid #3A3C43;
  background-color: #F2EFE8;
  font-size: 20px;
  font-style: "Roboto";
  padding-left: 8px;
}

.recovery
{
  font-size: 20px;
  color:#3A3C43;
}

a{
  color:#3A3C43;
}

.grid-homepage
{
  background-image: url("/sardine_light_blue.png");
  background-size: cover;
  height: 137vh;
  width: 100%;
  margin-bottom: 40px;
  /* border: 10px solid #3A3C43; */
}
