@import "../theme.scss";

.hero {

  background-image: url("/images/sardine_light_blue.png");
  background-color: #E8DDC9;

  .hero-head {
    display: flex;
    justify-content: center;

    * {
      text-transform: uppercase;
      margin: 1rem 1.5rem;
      color: $grey-darker;
    }
  }

  .hero-body {
    display: flex;
    justify-content: center;

    .box {
      border: 5px solid $grey-darker;

      .title {
        text-transform: uppercase;
        color: $grey-darker;
      }
    }
  }

}