<a href="<%= routes['website_sign_in'] %>">Login</a>
<a href="<%= routes['website_sign_up'] %>">Register</a>

<div class="grid-container">
  <div class="header">RECENTES</div>
  <% recent_submissions.forEach((submission, i) => { %>
    <div class="card card_<%= i %>"><%= submission.expression %></div>
  <% }); %>
</div>