<div class="row center-md middle-md" id='content'>
  <section id="left" class="col-md-3">
    <p class="bold fs-2">Boost your productivity</p>
    <p class="bold fs-2 item-2">Dash through your tasks like a ninja</p>
  </section>

  <div id="divider" class="col-md-offset-2"></div>

  <section id="right" class="col-md-3 col-md-offset-2">
    <a class='button bold fs-2' href="<%= routes['website_sign_in'] %>">Login</a>
    <a class='button bold fs-2 item-2' href="<%= routes['website_sign_up'] %>">Register</a>
  </section>
</div>