<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>TaskDojo</title>
    <meta name="author" content="goa">
    <meta name="description" content="Boost your productivity. Dash through your tasks like a ninja.">
    <meta name="keywords" content="productivity tasks boost">
    <link rel="stylesheet" href="/css/core.css" type="text/css">
    <link rel="stylesheet" href="/css/<%= slug %>.css" type="text/css">
  </head>
  <body class='background'>
    <div class="container-fluid">
      <header class="row center-md">
        <a href="<%= routes['website_index'] %>">
          <h1 class="title col-md-4">TASKDOJO</h1>
        </a>
      </header>

      <%- content %>
    </div>
  </body>
</html>