Results

<% if (submissions) { %>
  <% submissions.forEach((submission) => { %>
    <a href="<%= routes['website_submission'] %>/<%= submission.slug %>">
      <p><%= submission.expression %></p>
    </a>
  <% }) %>
<% } else { %>
  Como é que é?
<% } %>