<div class="grid-container">
  <div class="header">RECENTES</div>
  <div class="card card_1">"Quem está de fora racha lenha"</div>
  <div class="card card_2">3</div>
  <div class="card card_3">4</div>
  <div class="card card_4">5</div>
  <div class="card card_5">6</div>
  <div class="card card_6">7</div>
</div>
