<div class="submission_expression">
  <div class="expression-grid">
    <% if (submission) { %>
      <div class="expression_title">
        <h1><%= submission.expression %></h1>
      </div>
      <div class="expression_description">
        <p class="sub_title">Descrição</p>
        <%= submission.description %>
      </div>
    <% } else { %>
      <p>Como é que é?<p>
    <% } %>
  </div>
</div>
