<div class="submission">
  <div class="grid-submission">
    <form action="/action_page.php">
      <div class="submission-title">SUBMISSÃO</div>
      <div class="expression">
        <p>Expressão</p>
        <input type="text" name="expression">
      </div>
      <div class="region">
        <p>Região de Origem</p>
        <input type="text" name="region">
      </div>
    </form>
  </div>
</div>
